@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dosis:wght@400;500;700&display=swap');
/* common code start */
:root{
    --heading-color:#404044;
    --text-color:#707070;
    --primary-color:#1C3338;
    --white-color:#ffffff;
    --box-color:#007E6A;
    --hover-color:#025B4D;
}
.d-flex{
    display: flex;
}
body,p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.justify-content{
    justify-content: space-between;
}
.container{
    width: 90%;
    height: 100%;
    margin: 0px auto;
}
/* common code end */
/* nav section start */
nav{
    background: var(--primary-color);
}
.nav-brand{
    flex:1 1 100%;
    align-self: center;
}
.nav-brand a{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    color: var(--white-color);
    font-size: 32px;
    line-height: 38px;
}
.nav-area{
    flex:1 1 220%;
}
.nav-area ul li{
    padding: 10px 20px;

}
.nav-area ul li a{
    color: var(--text-color);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    transition: .5s linear;
}
.nav-area ul li a:hover{
    color:var(--white-color);
}
.nav-area ul li a:nth-child(6){
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: var(--white-color);
    font-size: 17px;
    line-height: 28px;
    padding: 15px 25px;
    border-radius: 50px;
    background: var(--box-color);
    transition: .5s linear;
    margin-left: 10px;
}
.nav-area ul li a:hover:last-child{
    color: var(--hover-color);

}
.nav-area ul li i{
    color: var(--white-color);
    font-size: 25px;
}
.backimage{
    background: linear-gradient(rgba(21, 46, 51,.9),rgba(24, 46, 49,.9)),url(../images/banner1.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 600px;
    /* position: absolute; */
}
.inner-header{
    /* position: relative; */
}
.content-area{
    flex:1 1 150%;
    align-self: center;
}
.content-area h3{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: var(--white-color);
    font-size: 32px;
    line-height: 38px;
}
.content-area h1{
    font-family: Dosis, sans-serif;
    font-weight: 700;
    color: var(--white-color);
    font-size: 100px;
    line-height: 100px;
    margin: 20px 0px;
}
.content-area p{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
    margin: 40px 0px;
}
.content-area a{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: var(--white-color);
    font-size: 17px;
    line-height: 28px;
    padding: 15px 25px;
    border-radius: 50px;
    background: var(--box-color);
    transition: .5s linear;
    margin-left: 10px;
}
.content-area a:hover{
    color: var(--hover-color);

}
.content-area a:last-child{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: var(--white-color);
    font-size: 17px;
    line-height: 28px;
    padding: 15px 25px;
    border-radius: 50px;
    background: rgba(24, 46, 49,.5);
    transition: .5s linear;
    border: 1px solid #ffffff;
}
.content-area a:hover:last-child{
    color: var(--white-color-color);
}
.poster-area{
    flex:1 1 100%;
    overflow: hidden;
}

/* nav section end */
/* about us section start */
.about-us-section{
    padding: 80px 0px;
}
.about-us-poster{
    flex:1 1 100%;
}
.about-us-poster img{
    display: block;
    width: 100%;
}
.about-us-content{
    flex:1 1 200%;
}
.about-us-content h5{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    font-size: 16px;
    line-height: 28px;
}
.about-us-content h1{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    color: var(--heading-color);
    font-size: 38px;
    line-height: 48px;
}
.about-us-content p{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #707070;
    padding-bottom: 40px;
}
/* about us section end */

ssazia589@gmail.com
ssazia589